

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
    background-color: rgb(67, 67, 67);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    background: rgb(196, 164, 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.user{
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 40px;
}

.user a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid transparent;
    text-decoration: none;
    transform: rotate(45deg);
    transition: .5s;
}

.user a:hover{
    border-color: black;
}

.user a i {
    font-size: 24px;
    color: black;
    transform: rotate(-45deg);

}

.navbar{

    font-size: 28px;
    color: #222;
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
}





.midia{
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 40px;
}

.midia a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid transparent;
    text-decoration: none;
    transform: rotate(45deg);
    transition: .5s;
}

.midia a:hover{
    border-color: black;
}

.midia a i {
    font-size: 24px;
    color: black;
    transform: rotate(-45deg);

}